@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}

.advice-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--advice-card-color);
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
}

.advice-generator .advice {
    color: var(--advice-dice-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    margin-top: 20px;
}

.advice-generator .description {
    font-size: 25px;
    padding: 23px;
    text-align: center;
}

.advice-generator picture img {
    width: 100%;
}

.advice-generator .button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--advice-dice-color);
    transform: translateY(85%);
    transition: 0.3s ease-in-out;
}

.advice-generator .button:hover {
    color: var(--advice-dice-color);
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-color);
}